:root {
  /* GLOBAL */
  --base-color-teal-50: #e5f5f3;
  --base-color-teal-100: #d1eeea;
  --base-color-teal-200: #b1e9df;
  --base-color-teal-300: #6ddac6;
  --base-color-teal-400: #27caaf;
  --base-color-teal-500: #00ab8e;
  --base-color-teal-600: #128576;
  --base-color-teal-700: #0f665f;
  --base-color-teal-800: #024c49;
  --base-color-teal-900: #013333;
  --base-color-teal-950: #002424;
  --base-color-slate-50: #f1f4f6;
  --base-color-slate-100: #e1e5ea;
  --base-color-slate-200: #c5ccd3;
  --base-color-slate-300: #a9b2bc;
  --base-color-slate-400: #8e98a4;
  --base-color-slate-500: #747e8b;
  --base-color-slate-600: #5c6570;
  --base-color-slate-700: #444c55;
  --base-color-slate-800: #2d3339;
  --base-color-slate-900: #1b1f23;
  --base-color-slate-950: #0c0e0f;
  --base-color-stone-50: #f8fbfc;
  --base-color-stone-100: #f1f8f9;
  --base-color-stone-200: #e2eef0;
  --base-color-stone-300: #cbdee1;
  --base-color-stone-400: #99b0b5;
  --base-color-stone-500: #71878b;
  --base-color-stone-600: #4c5c5f;
  --base-color-stone-700: #3b484a;
  --base-color-stone-800: #24383c;
  --base-color-stone-900: #1a282b;
  --base-color-stone-950: #081618;
  --base-color-grey-50: #f2f2f2;
  --base-color-grey-100: #e5e5e5;
  --base-color-grey-200: #cbcbcb;
  --base-color-grey-300: #b3b3b3;
  --base-color-grey-400: #9a9a9a;
  --base-color-grey-600: #666666;
  --base-color-grey-700: #4d4d4d;
  --base-color-grey-800: #323232;
  --base-color-grey-900: #1a1a1a;
  --base-color-grey-950: #0d0d0d;
  --base-color-grey-500: #808080;
  --size-s: 12px;
  --size-s-rem: 0.75rem;
  --size-base: 16px;
  --size-base-rem: 1rem;
  --space-xxl: 64px;
  --space-xxl-rem: 4rem;
  --space-xl: 32px;
  --space-xl-rem: 2rem;
  --space-m: var(--space-base);
  --space-l: 24px;
  --space-l-rem: 1.5rem;
  --space-s: 8px;
  --space-s-rem: 0.5rem;
  --space-base: 16px;
  --space-base-rem: 1rem;
  --space-xs: 4px;
  --space-xs-rem: 0.25rem;
  --size-topbar: 64px;
  --size-topbar-rem: 4rem;
  --size-xxl: 72px;
  --size-xxl-rem: 4.5rem;
  --size-xl: 48px;
  --size-xl-rem: 3rem;
  --size-l: 24px;
  --size-l-rem: 1.5rem;
  --size-m: var(--size-base);
  --space-xxs: 2px;
  --space-xxs-rem: 0.125rem;
  --base-color-white: #ffffff;
  --base-color-black: #000000;

  /* UI2 */
  --link-primary-color: var(--base-color-teal-600);
  --link-primary-color-hover: var(--base-color-teal-700);
  --text-primary-color: var(--base-color-grey-900);
  --text-secondary-color: var(--base-color-grey-600);
  --text-font-family: "Geist";
  --icon-primary-flat-color: var(--base-color-slate-600);
  --icon-primary-duotone-border: var(--base-color-slate-600);
  --icon-primary-duotone-border-hover: var(--base-color-slate-700);
  --icon-primary-duotone-background: var(--base-color-slate-100);
  --icon-primary-duotone-background-hover: var(--base-color-slate-100);
  --icon-primary-duotone-background-alt: var(--ui-page-background);
  --icon-primary-duotone-background-alt-hover: var(--ui-page-background);
  --icon-primary-flat-color-hover: var(--base-color-slate-700);
  --icon-teal-flat-color: var(--base-color-teal-600);
  --icon-teal-duotone-border: var(--base-color-teal-600);
  --icon-teal-duotone-border-hover: var(--base-color-teal-700);
  --icon-teal-duotone-background: var(--base-color-teal-100);
  --icon-teal-duotone-background-hover: var(--base-color-teal-100);
  --icon-teal-duotone-background-alt: var(--ui-page-background);
  --icon-teal-duotone-background-alt-hover: var(--ui-page-background);
  --icon-teal-flat-color-hover: var(--base-color-teal-700);
  --text-pagetitle-text-size: 24px;
  --text-pagetitle-text-size-rem: 1.5rem;
  --text-default-text-size: var(--space-base);
  --button-vertical-padding: 10px;
  --button-vertical-padding-rem: 0.625rem;
  --button-gap: 10px;
  --button-gap-rem: 0.625rem;
  --button-primary-background-default: var(--base-color-teal-600);
  --button-primary-border-default: var(--base-color-teal-700);
  --button-primary-background-hover: var(--base-color-teal-500);
  --button-border-radius: 6px;
  --button-border-radius-rem: 0.375rem;
  --button-primary-background-disabled: var(--base-color-slate-300);
  --button-primary-border-disabled: var(--base-color-slate-500);
  --button-primary-icon-default: var(--base-color-teal-200);
  --button-primary-icon-disabled: var(--base-color-slate-200);
  --button-primary-text-disabled: var(--base-color-slate-100);
  --button-primary-text-hover: var(--base-color-white);
  --button-primary-text-default: var(--base-color-teal-50);
  --button-secondary-border-default: var(--base-color-slate-200);
  --button-secondary-background-default: var(--base-color-slate-50);
  --button-secondary-background-hover: var(--base-color-white);
  --button-secondary-background-disabled: var(--base-color-slate-100);
  --button-secondary-border-disabled: var(--base-color-slate-100);
  --button-secondary-icon-default: var(--base-color-teal-500);
  --button-secondary-icon-disabled: var(--base-color-slate-200);
  --button-secondary-text-default: var(--base-color-slate-700);
  --button-secondary-text-hover: var(--base-color-slate-600);
  --button-secondary-text-disabled: var(--base-color-slate-300);
  --button-primary-border-hover: var(--base-color-teal-700);
  --button-secondary-icon-hover: var(--base-color-teal-500);
  --button-secondary-border-hover: var(--base-color-slate-200);
  --button-primary-icon-hover: var(--base-color-teal-200);
  --button-horizontal-padding: 12px;
  --button-horizontal-padding-rem: 0.75rem;
  --button-min-height: 40px;
  --button-min-height-rem: 2.5rem;
  --ui-page-background: var(--base-color-white);
  --icon-stroke-width-default: 1.67px;
  --icon-stroke-width-default-rem: 0.1044rem;
  --icon-stroke-width-medium: 2px;
  --icon-stroke-width-medium-rem: 0.125rem;
  --icon-stroke-width-large: 3px;
  --icon-stroke-width-large-rem: 0.1875rem;
  --icon-stroke-width-xl: 4px;
  --icon-stroke-width-xl-rem: 0.25rem;
  --icon-stroke-width-small: 1px;
  --icon-stroke-width-small-rem: 0.0625rem;
  --icon-container-size: 36px;
  --icon-container-size-rem: 2.25rem;
  --icon-container-icon-size: 20px;
  --icon-container-icon-size-rem: 1.25rem;
  --event-primary-background: var(--base-color-slate-800);
  --event-primary-color: var(--base-color-slate-50);
  --event-secondary-background: var(--base-color-slate-500);
  --event-secondary-color: var(--base-color-slate-50);
  --event-exception-background: #c30f21;
  --event-exception-color: #ffbfbf;
  --event-sensor-background: var(--base-color-teal-700);
  --event-sensor-color: var(--base-color-teal-100);
  --event-fedex-background: #572297;
  --event-fedex-color: var(--base-color-slate-100);
  --event-ups-background: #573c3c;
  --event-ups-color: #ffd800;
  --event-air-background: #1d5faa;
  --event-air-color: #81cfff;
  --event-ocean-background: #12378e;
  --event-ocean-color: #d7e6ef;
  --event-primary-border: var(--base-color-slate-900);
  --event-secondary-border: var(--base-color-slate-600);
  --event-exception-border: #a20d1c;
  --event-sensor-border: var(--base-color-teal-800);
  --event-fedex-border: #481e7a;
  --event-ups-border: #352222;
  --event-air-border: #185294;
  --event-ocean-border: #132e6e;
  --icon-container-border-radius: 5px;
  --icon-container-border-radius-rem: 0.3125rem;

  /* CADENCE */
  --size-topbar: 64px;
  --size-topbar-rem: 4rem;
}
